 <!-- Start Sidebar section -->
          <div class="col-md-4">
              <div id="recent-post">
                <h4 class="recent-heading">Recent Posts</h4>
                <p class="post-list">How to be unpopular in the wedding picture world.</p>
                <p class="post-list">How not knowing graphic artists makes you a rookie. </p>
                <p class="post-list">How to be unpopular in the wedding picture world.</p>
                <p class="post-list">How not knowing graphic artists makes you a rookie. And he run away.</p>
                <p class="post-list">How to be unpopular in the wedding picture world.</p>
              </div>

              <div id="recent-post">
                  <h4 class="recent-heading">Popular Posts</h4>
                  <p class="post-list">How to be unpopular in the wedding picture world.</p>
                  <p class="post-list">How not knowing graphic artists makes you a rookie. </p>
                  <p class="post-list">How to be unpopular in the wedding picture world.</p>
                  <p class="post-list">How not knowing graphic artists makes you a rookie. And he run away.</p>
                  <p class="post-list">How to be unpopular in the wedding picture world.</p>
              </div>

              <div id="ads" class="mt-2 text-align-center">
                <img src="https://bacolodpages.com/sites/default/files/advertisement300x300.png" class="img-fluid" alt="">
              </div>
          </div> <!-- End Sidebar -->